<div [class]="data.innerClass" [ngStyle]="data && data.innerStyle">
  <mat-card style="height: 100%">
    <mat-card-title>
      {{data.title}}
    </mat-card-title>
    <ng-container *ngFor="let widget of data.components">
      <app-dynamic [data]="widget"></app-dynamic>
    </ng-container>
  </mat-card>
</div>
