<div style="height: 400px">
  <p style="text-align: center"> {{data.title}}</p>
  <div *ngIf="!data.query" style="text-align: center">No query</div>
  <ng-container *ngIf="data.query">
    <div *ngIf="isEmpty" style="text-align: center">No content</div>
    <ng-container *ngIf="!isEmpty">
      <ngx-charts-bar-vertical
        *ngIf="items && data.type === 'bar'"
        [animations]="true"
        [legend]="true"
        [scheme]="colorTheme"
        [results]="items">
      </ngx-charts-bar-vertical>

      <ngx-charts-line-chart
        *ngIf="items && data.type === 'line'"
        [animations]="true"
        [legend]="true"
        [scheme]="colorTheme"
        [results]="items">
      </ngx-charts-line-chart>

      <ngx-charts-pie-chart
        *ngIf="items && data.type === 'pie'"
        [animations]="true"
        [labels]="true"
        [legend]="true"
        [scheme]="colorTheme"
        [results]="items">
      </ngx-charts-pie-chart>
    </ng-container>
  </ng-container>
</div>
