<div>
  <mat-checkbox [(ngModel)]="job.autorunEnabled">Autorun enabled</mat-checkbox>
</div>
<div>
  <mat-form-field>
    <input matInput placeholder="Context" [(ngModel)]="job.autorunMinutes">
  </mat-form-field>
</div>

<button mat-button color="accent" (click)="save()">Save</button>
