<ng-container *ngIf="data && data.type && isVisible">
  <!--
  <div style="border: 1px solid red; padding: 4px">
  -->
  <app-edit-dynamic-button *ngIf="data.type!='tab-group'" [control]="data"
                           [title]="data.type"></app-edit-dynamic-button>
  <app-dynamic-div
    *ngIf="data.type=='div'"
    [data]="data.data"
    (onChanged)="setup($event)">
  </app-dynamic-div>
  <app-dynamic-table
    *ngIf="data.type=='table'"
    [data]="data.data"
    (onChanged)="setup($event)">
  </app-dynamic-table>
  <app-api-chart
    *ngIf="data.type=='chart'"
    [data]="data.data"
    (onChanged)="setup($event)">
  </app-api-chart>  
  <app-dynamic-tab-group
    *ngIf="data.type=='tab-group'"
    [data]="data.data"
    (onChanged)="setup($event)">
  </app-dynamic-tab-group>
  <app-dynamic-card
    *ngIf="data.type=='card'"
    [data]="data.data"
    (onChanged)="setup($event)">
  </app-dynamic-card>
</ng-container>


