<mat-card style="display: block; margin-left: auto; margin-right: auto; max-width: 400px">
  <mat-card-header>
    <mat-card-title>Admin panel</mat-card-title>
    <mat-card-subtitle>Example</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <mat-form-field style="display: block;">
        <input matInput placeholder="userName" [(ngModel)]="userName">
      </mat-form-field>

      <mat-form-field style="display: block;">
        <input matInput type="password" placeholder="Password" [(ngModel)]="password">
      </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="loginClick()">Login</button>
  </mat-card-actions>
</mat-card>
