<json-editor
  style="height: 700px"
  [(ngModel)]="data"
  [config]="{modes:['tree','code']}"
  (change)="onChange($event)"
  jsonModal #staticModal="json-modal">
</json-editor>

<button mat-button color="accent" (click)="save()">Save</button>
<button mat-button color="accent" (click)="close()">Exit</button>
