<div>
  <mat-checkbox style="color: white" [(ngModel)]="appSettingsService.devMode">Dev mode</mat-checkbox>
  <button mat-button color="accent" (click)="create()">Create layout</button>

  <mat-form-field>
    <mat-select placeholder="Layout" [(value)]="selectedLayout">
      <mat-option *ngFor="let item of layouts" [value]="item">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="layout">
    <mat-form-field>
      <input matInput [(ngModel)]="layout.name" style="color: white">
    </mat-form-field>
    <button mat-button color="accent" (click)="update()">Update</button>
    <button mat-button color="warn" (click)="delete()">Delete</button>
  </div>
</div>

<app-dynamic-layout *ngIf="layoutId" [layoutId]="layoutId"></app-dynamic-layout>
