<p>Pick type</p>
<mat-form-field>
  <mat-select placeholder="Control" [(value)]="selected">
    <mat-option *ngFor="let c of controls" [value]="c">
      {{ c }}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-button (click)="add()">Add</button>
