<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" style="margin: 8px">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    {{node.name}}
    <button mat-button color="accent" (click)="moveTreeEntity(node)">Move</button>
    <button mat-button (click)="editQuery(node)">Edit</button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
    <button mat-button color="accent" (click)="moveTreeEntity(node)">Move</button>
    <button mat-button color="accent" (click)="editGroup(node)">Edit</button>
    <button mat-button color="warn" (click)="removeGroup(node)">Remove</button>
  </mat-tree-node>
</mat-tree>
<button mat-button (click)="createGroup()">Create group</button>
<button mat-button (click)="createQuery()">Create query</button>
