<mat-card class="mat-elevation-z8" style="margin: 8px">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of settings">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <json-editor
        [(ngModel)]="item.dataObj"
        jsonModal #staticModal="json-modal">
      </json-editor>

      <button mat-button color="primary" (click)="update(item)">Update</button>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
