<div *ngIf="devMode" style="display: flex; color: white">
  <div
    [style.background]="'dimgray'"
    [style.top]="top"
    [style.right]="right">
    <button mat-icon-button (click)="addChild()"><i class="material-icons">add</i></button>
    <button mat-icon-button (click)="edit()"><i class="material-icons">settings</i></button>
    <div style="display: inline-block;margin: 4px">{{title}}</div>
  </div>
</div>

