<mat-card class="mat-elevation-z8" style="margin: 8px">
  <div>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="change_state">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button *ngIf="element.isRunning" color="warn" (click)="stopJob(element.name)" mat-button>Stop</button>
          <button *ngIf="!element.isRunning" color="accent" (click)="startJob(element.name)" mat-button>Start</button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="autorunEnabled">
        <mat-header-cell *matHeaderCellDef> autorunEnabled</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.autorunEnabled}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="autorunMinutes">
        <mat-header-cell *matHeaderCellDef> autorunMinutes</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.autorunMinutes}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button color="accent" (click)="editJob(element)">Edit</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-card-actions>
    <button color="accent" (click)="loadData()" mat-button>Refresh</button>
  </mat-card-actions>
</mat-card>
