<div>
  <p>{{data.title}}</p>
  <mat-spinner *ngIf="isLoading" style="margin-left: auto; margin-right: auto"></mat-spinner>
  <ng-container *ngIf="!isLoading">
    <div *ngIf="isEmpty" style="text-align: center">No content</div>
    <div *ngIf="error" style="text-align: center">{{error}}</div>

    <mat-table #table [dataSource]="dataSource" *ngIf="!isEmpty" style="height: 550px; overflow: auto">
      <ng-container *ngFor="let element of displayedColumns" [matColumnDef]="element">
        <mat-header-cell *matHeaderCellDef> {{element}}</mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item[element]}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ng-container>

  <mat-paginator [length]="count"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="pageChanged($event)"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
