<app-edit-dynamic-button [control]="this"
                         [title]="'tab group'"
                         [handleAdd]="addChild.bind(this)"></app-edit-dynamic-button>

<mat-tab-group>
  <mat-tab [label]="tab.data.title" *ngFor="let tab of data.components" style="min-height: 100px">
    <div style="min-height: 100px">
      <app-edit-dynamic-button [title]="'tab item'" [control]="tab"></app-edit-dynamic-button>
      <ng-container *ngFor="let widget of tab.data.components">
        <app-dynamic [data]="widget"></app-dynamic>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>



