<mat-card class="mat-elevation-z8" style="margin: 8px">
  <mat-card-title>System information</mat-card-title>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="shutdown()">Shutdown</button>
  </mat-card-actions>
</mat-card>
