<mat-card style="margin: -24px">
  <mat-card-header>
    <mat-card-title>Edit query</mat-card-title>
    <mat-card-subtitle>{{query.id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="query.name">
    </mat-form-field>
    <div>
      <mat-checkbox [(ngModel)]="query.allowAnonymous">Allow anonymous</mat-checkbox>
    </div>
    <div>
      <mat-checkbox [(ngModel)]="query.countAble">Countable</mat-checkbox>
    </div>
    <div>
      <mat-checkbox [(ngModel)]="query.isSqlServer">Is sql server</mat-checkbox>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="Select context" [(value)]="query.context">
          <mat-option *ngFor="let c of contexts" [value]="c">
            {{ c }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field style="width:500px">
      <textarea matInput placeholder="SQL" [(ngModel)]="query.sql"></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent" *ngIf="!isSaving" (click)="save()">Save</button>
    <button mat-button color="accent" *ngIf="isSaving" disabled>Save</button>
    <button mat-button color="accent" (click)="execute()">Execute</button>
    <button mat-button color="warn" (click)="remove()">Remove</button>
  </mat-card-actions>
</mat-card>
